body {
	margin: 0;
	text-align: center; /*Will center all block elements with no width */
	font-family: "Merriweather", serif;
}

h1 {
	/* If width, we can center using margin auto to fill the remaining spaces inline */
	margin: 50px auto 0;
	font-family: "Sacramento", cursive;
	font-size: 5.625rem; /*100% == 1rem == 16px, 90px = 562.2% = 5.625rem*/
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
}

h1,
h2 {
	color: #66bfbf;
}

h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

h3,
a {
	color: #11999e;
}

.pro {
	text-decoration: underline;
}

.top-container {
	background-color: #e4f9f5;
	position: relative;
	padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.skill-row {
	width: 50%;
	margin: 100px auto;
	text-align: left;
	line-height: 2;
}

.skill-row .skill-img1 {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.skill-row .skill-img2 {
	width: 25%;
	float: right;
	margin-left: 30px;
}

/* .skill-row .code-experience {
	clear: left; 
}

.skill-row .code-projects {
	clear: right;
} */

.top-cloud {
	position: absolute;
	right: 300px;
	top: 50px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;
}
